
form{
	display: flex;
	flex-direction: column;
	border: 1px solid black;
	padding: 60px 300px;
	justify-content: center;
	align-content: center;
}

input, textarea {
	display: absolute;
	border: 1px solid black;
	width: 50%;
	height: 50px;
	box-sizing: border-box;
}

input [type = text], select{
	width: 100%;
	padding: 12px 20px;
	margin: 8px 0;
	display: inline-block;
	border: 10px solid #ccc;
	border-radius: 4px;
	box-sizing: border-box;
}